.lead {
    max-width: 984px;
    max-height: 1005px;
    background-color: rgba(42, 44, 47, 1);
    text-align: center;
    background-color: rgba(42, 44, 47, 1);
    padding-top: 56px;
    padding-left: 148px;
    padding-right: 148px;
    margin: 0 auto;
}

@media all and (max-width: 1124px) {
    .lead {
        padding: 48px 48px 0 48px;
    }
}

@media all and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        padding: 48px 48px 0 48px;
    }
}

@media all and (max-width: 768px) {
    .lead {
        max-width: 768px;
        padding: 48px 0 0 0;
    }
}

@media all and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}