.intro__title {
    max-width: 690px;
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-size: 54px;
    font-weight: 900;
    font-style: normal;
    line-height: 58px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 280px;
        text-align: start;
    }
}