.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    grid-template-rows: auto minmax(340px, 1fr);
    padding-bottom: 80px;
    gap: 48px 40px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media all and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(340px, 440px) minmax(352px, 484px);
        grid-template-rows: auto minmax(340px, 1fr);
        gap: 48px 32px;
    }
}

@media all and (max-width: 768px) {
    .place {
        padding-bottom: 73px;
        gap: 48px 28px;
    }
}

@media all and (max-width: 748px) {
    .place {
        grid-template-columns: auto;
        grid-template-rows: auto auto minmax(320px, 1fr);
    }
}

@media all and (max-width: 320px) {
    .place {
        max-width: 320px;
        padding-bottom: 50px;
        gap: 32px;
    }
}