.header__lang-link {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding-left: 18px;
    color: white;
    position: relative;
    bottom: 7px;
    right: 0;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.3;
    transition: opacity 0.5s;
}

@media all and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}